# 全局默认 registry（公共依赖下载）
# registry=https://registry.npmjs.org/

# @ge 作用域包下载源
@ge:registry=http://nexus.complexdevops.com/repository/ge-npm-public/

# 认证信息
//nexus.complexdevops.com/repository/ge-npm-components/:_auth=Z2UtZnJvbnRlbmQ6cXdlcjEyMzQ=
email=gilbert@lottoplay.ph